node_modules
"TransitOps Smart Transport Operations Platform.pdf"
TransitOps_Enterprise_Backend_Specification.md
"Transitops - smart transport operations platform - 8 hours.svg"
.github
frontend/node_modules